.__d-object-contain {
  object-fit: contain;
}

.__d-object-cover {
  object-fit: cover;
}

.__d-object-fill {
  object-fit: fill;
}

.__d-object-none {
  object-fit: none;
}

.__d-object-scale-down {
  object-fit: scale-down;
}
