{
  "env": {
    "production": {
      "presets": ["next/babel"],
      "plugins": ["babel-plugin-jsx-remove-data-test-id"]
    },
    "development": {
      "presets": ["next/babel"],
      "plugins": ["babel-plugin-jsx-remove-data-test-id"]
    },
    "test": {
      "presets": ["next/babel"],
      "plugins": []
    }
  }
}
